---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	id='about'
	title="About Me"
	description="... there's not much to say, really."
	pubDate={new Date('June 14 2025')}
	primaryTags={[]}
	isAbout={true}
	minutesToRead={1}
	author='Boibhav Chakraborty'
>
	<p>
		I'd assume that if you're reading this, you already know a bit about me. Either way, I am just an amateur writer, putting my thoughts into words and shaping them into stories.
	</p>
	<p> 
		Ever since I could remember, I've been drawn to the art of storytelling. Over time, countless pages have disappeared into the abyss of unfinished drafts and abandoned ideas. So, I created this blog to finally finish what I start. To give my stories a home, no matter how amateurish they are. <span class="text-purple-600 font-semibold ">Null Point</span> is a space where I can experiment, reflect and explore ideas that often lean into the realms of fiction and existentialism. 
	</p>
	<p>
		It's a new journey for me, and one I hope to grow through. 
	</p>

	<p>
		I don't have any expectations from this blog, other than to share my literary projects with however few people that may be interested. If you are one of those few, I hope you find something that resonates with you. If you have any feedback, suggestions, or just want to say hi, feel free to reach out to me on my social media handles linked below. I would love to hear from you! 
	</p>
	<p>
		Thank you for reading!
	</p>
</Layout>
