---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Picture } from 'astro:assets';
import home_img from "../assets/blog_hero.png"
import { Separator } from '@/components/ui/separator';
import Showcase from '@/components/Showcase.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="font-roboto-mono bg-purple-200">
		<Header />
		<main class="mt-8 mb-12 mx-auto max-w-7xl">
			<div class="h-screen flex gap-4">
				<div class="pt-12 flex-1">
					<h1 class="text-8xl tracking-tight font-extrabold">THINKING</h1>
					<h1 class="text-8xl tracking-tight font-extrabold">OUT</h1>
					<h1 class="text-8xl tracking-tight font-extrabold">LOUD</h1>
					<div class="mt-6 w-[80%]">
						<p class="text-md tracking-tighter font-light">
							Welcome to my personal blog, where I share my thoughts, ideas, and experiences. Join me on this
							journey of exploration and discovery as I delve into various topics that inspire and intrigue
							me.
						</p>
					</div>
				</div>
				<div class="flex-1">
					<Picture src={home_img} formats={['png', 'avif', 'webp']} alt="home page banner image: a man writing on his typewriter"/>
				</div>
			</div>
			<div class="h-8">
				<Separator class="mx-3"/>
			</div>
			<Showcase/>
		</main>
		<Footer />
	</body>
</html>
