---
import SocialLinks from "./SocialLinks.astro";
import { Image } from "astro:assets";
import logo_img from "src/assets/null_pt.png"

const today = new Date();
---

<footer class="bg-purple-300 min-h-[30vh] flex flex-col space-y-8 font-roboto-mono pt-10 md:pt-16 pb-6 md:pb-10 w-full px-8">
	<div class="flex justify-start items-center mx-6 md:mx-14 md:mb-10">
		<div class="min-w-[20vw] h-[80px] bg-violet-500 border-4 border-black flex justify-center items-center text-center text-xl md:text-3xl text-white font-semibold px-4 py-6 shadow-[5px_5px_0px_0px_#000] cursor-not-allowed opacity-70">
			GUESTBOOK COMING SOON!
		</div>
	</div>
	<div class="flex justify-center items-center flex-col">
		<p class="text-gray-600 tracking-wide font-semibold text-xs	md:text-xl text-center">
			<span class="text-lg md:text-2xl">&copy;</span> {today.getFullYear()} Boibhav Chakraborty. All rights reserved.
		</p>
		<div class="mt-8 flex flex-col items-center space-y-4">
			<!-- <Picture src={logo_img} alt="null point logo image" class="w-20 h-20 scale-200"/> -->
			 <Image src={logo_img} alt="hello" class="w-20 h-20 scale-200"/>
			<h5 class="text-xs md:text-lg font-bold tracking-tight text-gray-500">My Social Links</h5>
			<SocialLinks />
		</div>
	</div>
</footer>
